
<section
    class="text-gray-600 body-font overflow-hidden px-0 md:px-25 dark:bg-bg-mid-dark dark:text-white 100vh">
    <div class="container  py-24 mx-auto">
        <div class="md:w-full md:flex items-center justify-between capitalize">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">

                <h1
                    class="text-gray-900 text-3xl title-font font-medium mb-2 typography">Mohammed
                    Gamal </h1>
                <h2>
                    <span class="text-gray-500 text-lg mb-4 tw"></span>
                </h2>
                <div class="flex mt-4 mb-10 ">
                    <span
                        class="flex-grow border-b-2 border-gray-200 py-1 text-black dark:text-white ">I
                        am a dedicated software engineer and frontend developer
                        based in Cairo, passionate about delivering exceptional
                        digital experiences. Blending technology with thoughtful
                        design, I craft accessible and user-centered products
                        that not only captivate but also empower users. As a
                        freelancer, I am committed to building seamless,
                        inclusive solutions that drive meaningful engagement and
                        transform ideas into intuitive digital realities.

                    </span>
                </div>

                <div class="buttons">
                    <a routerLink="/projects"
                        class="text-white bg-gray-500 hover:bg-bg-dark transition-colors focus:outline-none font-medium rounded-lg text-sm text-center my-auto px-6 py-2 me-3">My
                        Projects <i class="fas fa-project-diagram"></i></a>
                    <a routerLink="/contact"
                        class="text-white bg-gray-500 hover:bg-bg-dark transition-colors focus:outline-none font-medium rounded-lg text-sm text-center my-auto px-6 py-2 ">Contact
                        Me <i class="fas fa-envelope"></i></a>
                </div>

            </div>

            <div
                class="image relative w-75 h-75 px-2 md:px-0 object-cover object-center">
                <img alt="ecommerce"
                    class="object-cover object-center rounded-full w-full h-full block"
                    src="/images/hero.JPG">
            </div>

        </div>
    </div>
</section>
