
<section
    class="text-gray-600 body-font overflow-hidden px-5 md:px-25 dark:bg-bg-mid-dark dark:text-white md:h-screen flex flex-col justify-center items-center">
    <div class="container py-24 mx-auto">
        <div
            class="md:w-full md:flex flex-row-reverse items-center justify-between capitalize">
            <div
                class=" relative w-70 h-70 md:w-90 md:h-90 mx-auto md:mx-0 rounded-full shadow-2xl image  object-cover object-center my-5 md:my-0">
                <img
                    class="object-cover object-center rounded-full w-full h-full block z-100"
                    src="/images/skills/hero.jpg" alt="Mohammed Gamal" />
            </div>
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">

                <h1
                    class="text-gray-900 text-3xl title-font font-medium mb-2 typography">Mohammed
                    Gamal </h1>
                <h2>
                    <span class="text-gray-500 text-lg mb-4 tw"></span>
                </h2>
                <div class="flex mt-4 mb-10 ">
                    <span
                        class="flex-grow border-b-2  border-gray-200 py-1 text-black dark:text-white ">I
                        am a dedicated software engineer and frontend developer
                        based in Cairo, passionate about delivering exceptional
                        digital experiences. Blending technology with thoughtful
                        design, I craft accessible and user-centered products
                        that not only captivate but also empower users. As a
                        freelancer, I am committed to building seamless,
                        inclusive solutions that drive meaningful engagement and
                        transform ideas into intuitive digital realities.

                    </span>
                </div>

                <div
                    class="buttons flex flex-wrap gap-2 items-center">
                    <a routerLink="/projects"
                        class="text-white bg-gray hover:bg-bg-dark transition-colors focus:outline-none font-medium rounded-lg text-sm text-center my-auto px-6 py-2 ">My
                        Projects <i class="fas fa-project-diagram"></i></a>
                    <a routerLink="/contact"
                        class="text-white bg-gray hover:bg-bg-dark transition-colors focus:outline-none font-medium rounded-lg text-sm text-center my-auto px-6 py-2 ">Contact
                        Me <i class="fas fa-envelope"></i></a>
                    <a
                        href="https://drive.google.com/file/d/11LxunCFAkL39uxmTEYjT1BgPPJ6ss-tW/view?usp=sharing"
                        target="_blank"
                        class="text-white bg-gray hover:bg-bg-dark transition-colors focus:outline-none font-medium rounded-lg text-sm text-center my-auto px-6 py-2 ">Resume<i
                            class="ps-2 fas fa-file"></i></a>

                </div>

            </div>

        </div>
    </div>
</section>
