<section>
    <div
        class="flex flex-col items-center justify-center bg-bg-light dark:bg-bg-dark text-white py-4">
        <div class="text-center text-bg-dark dark:text-white mb-2">
            <p>&copy; 2025 Mohammed Gamal. <br> All rights reserved.</p>
        </div>
        <div class="flex space-x-4">
            <a href="#"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">Privacy
                Policy</a>
            <a href="#"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">Terms
                of
                Service</a>
            <a href="#"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">Contact
                Us</a>
        </div>
        <div class="mt-4 flex space-x-4">
            <a target="_blank"
                href="https://www.facebook.com/profile.php?id=100009764851306"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"><i
                    class="fab fa-facebook-f"></i></a>

            <a target="_blank"
                href="https://www.linkedin.com/in/mohammed-gamal-aa76b7248/"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"><i
                    class="fab fa-linkedin-in"></i></a>
            <a target="_blank"
                href="https://www.instagram.com/_mohammed._.gamal_/"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"><i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://github.com/MohammedGamalll"
                class="text-gray-400 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"><i
                    class="fab fa-github"></i></a>

        </div>
    </div>
</section>