<section
    class="text-gray-600 body-font overflow-hidden px-0 md:px-25 dark:bg-bg-mid-dark dark:text-white 100vh">

    <section class="text-gray-600 body-font">
        <div class="container py-24 mx-auto">
            <h2
            class="sm:text-3xl text-2xl font-medium title-font my-4 text-black dark:text-white text-center">My Projects</h2>

            <div class="flex flex-wrap pt-6">

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4 ">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a href="https://e-commerce-mohammed-gamal.vercel.app/"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full"
                                src="/images/ecommerce.png" alt="ecommerce">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">ANGULAR</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3">E-Commerce
                                Web Application</h1>
                            <p class="text-sm mb-3 capitalize text-gray">A
                                modern,
                                responsive
                                e-commerce platform built with Angular. Users
                                can browse products, view details, add items to
                                their cart, and complete purchases. The site
                                features user authentication, product search,
                                and a smooth checkout process, all optimized for
                                both desktop and mobile devices.

                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/E-Commerce"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://e-commerce-mohammed-gamal.vercel.app/"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>

                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a href="https://meals-ruby.vercel.app/#/home"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/meals.png" alt="meals">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">ANGULAR</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3">Meals
                                Web Application

                            </h1>
                            <p class="text-sm mb-3 capitalize text-gray">A
                                user-friendly
                                meal
                                browsing platform developed with Angular. The
                                application allows users to explore a variety of
                                meals, view detailed recipes, and search for
                                dishes by category or ingredient. The interface
                                is clean and responsive, providing a seamless
                                experience across devices.

                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Meals"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://meals-ruby.vercel.app/#/home"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>

                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a href="https://mohammedgamalll.github.io/Weather/"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/weather.png" alt="meals">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">JAVASCRIPT</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">Weather
                                Web Application

                            </h1>
                            <p class="text-sm mb-3 capitalize text-gray">A
                                user-friendly
                                weather
                                browsing platform developed with HTML, CSS and
                                JavaScript. The
                                application allows users to explore a variety of
                                weather data, view detailed forecasts, and
                                search for
                                locations by name or coordinates. The interface
                                is clean and responsive, providing a seamless
                                experience across devices.

                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Weather"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://mohammedgamalll.github.io/Weather/"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>

                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a
                            href="https://mohammedgamalll.github.io/Daniels-Website/#team"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/daniels.png" alt="daniels Website">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">RESPONSIVE</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">Personal
                                Portfolio Website (Daniels Website)
                            </h1>
                            <p class="text-sm mb-3 capitalize text-gray">A
                                visually appealing personal portfolio website
                                built with HTML, CSS, and JavaScript. The site
                                showcases professional information, project
                                highlights, and a dedicated team section. It
                                features smooth navigation, responsive design,
                                and engaging animations to provide an
                                interactive user experience across all devices.

                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Daniels-Website"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://mohammedgamalll.github.io/Daniels-Website/#team"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a
                            href="https://mohammedgamalll.github.io/devfolio7/#home"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/morgan.png" alt="morgan Website">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">RESPONSIVE</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">DevFolio
                                Personal Portfolio

                            </h1>
                            <p
                                class="text-sm mb-3 capitalize text-gray">A
                                modern and responsive personal portfolio
                                website created with HTML, CSS, and JavaScript.
                                The site highlights professional skills,
                                projects, and contact information, featuring
                                smooth scrolling, interactive sections, and a
                                clean, user-friendly design optimized for all
                                devices.

                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Daniels-Website"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://mohammedgamalll.github.io/Daniels-Website/#team"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a
                            href="https://start-framework-rho.vercel.app/home"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/framework.png"
                                alt="Start Framework Website">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">ANGULAR</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">Start
                                Framework Web Application

                            </h1>
                            <p
                                class="text-sm mb-3 capitalize text-gray">A
                                sleek and responsive web application template
                                built with Angular. This project features a
                                modern layout, smooth navigation, and reusable
                                UI components, making it an ideal starting point
                                for web development projects. The design ensures
                                optimal performance and user experience across
                                all devices.
                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/startFramework"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://start-framework-rho.vercel.app/"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a
                            href="https://mohammedgamalll.github.io/Login11/index.html"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/login.png"
                                alt="Start Framework Website">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">JAVASCRIPT</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">Login
                                Page Project

                            </h1>
                            <p
                                class="text-sm mb-3 capitalize text-gray">A
                                clean and responsive login page designed with
                                HTML, CSS, and JavaScript. The interface
                                features user-friendly form validation and a
                                modern layout, providing a smooth authentication
                                experience across desktop and mobile devices.
                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Login11"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://mohammedgamalll.github.io/Login11/index.html"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class=" md:w-1/2 hover:scale-105 transition-all duration-300 ease-in-out p-4">
                    <div
                        class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                        <a
                            href="https://mohammedgamalll.github.io/Mealify/#home"
                            target="_blank">
                            <img
                                class="lg:h-55 md:h-36 w-full "
                                src="/images/mealify.png"
                                alt="Start Framework Website">
                        </a>
                        <div class="p-6">
                            <h2
                                class="tracking-widest text-xs title-font font-medium text-gray mb-1">JAVASCRIPT</h2>
                            <h1
                                class="title-font text-lg font-semibold text-black dark:text-white mb-3 ">Mealify
                                Restaurant Website

                            </h1>
                            <p
                                class="text-sm mb-3 capitalize text-gray">A
                                modern and responsive restaurant website built
                                with HTML, CSS, and JavaScript. Mealify features
                                an attractive menu display, smooth navigation,
                                and a contact section, providing users with an
                                engaging and seamless browsing experience on all
                                devices.
                            </p>
                            <div
                                class="flex items-center flex-wrap justify-center gap-4">
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://github.com/MohammedGamalll/Mealify"
                                    target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a
                                    class="text-gray dark:hover:text-white hover:text-black transition-all hover:scale-120 inline-flex items-center md:mb-2 lg:mb-0"
                                    href="https://mohammedgamalll.github.io/Mealify/#home"
                                    target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</section>
